<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Manage
  </button>
  <ul class="dropdown-menu">
    <li>
        <a class="dropdown-item" asp-area="Database" asp-controller="DatabaseManage" asp-action="Index">
            Database
        </a>
        <a class="dropdown-item" asp-area="Contact" asp-controller="Contact" asp-action="Index">
            Quản lý liên hệ
        </a>
    </li>
  </ul>
</div>