@model string

<div class="card text-start bg-dark text-light">
  <div class="card-header bg-danger">ASP.NET MVC</div>
  <div class="card-body">
    <h4 class="card-title">Xin chào ASP.NET MVC</h4>
    <p class="card-text">@Model</p>
  </div>
</div>
